* {
   
    box-sizing: border-box;
    
}

body {
    background-color: black;
}


.nav {
    margin: 1% 15% 0% 15%;
    
    display: flex;
    
}

.logo {
    color: aliceblue;
    flex-grow: 4;
    font-size: 24px
}

.nav-links {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    text-decoration: none;
    font-size: 18px;
    
}


.section-1 {
    display: flex;
    
    margin: 7% 15% 0% 15%;   
}

.container {
    display: flex;
    flex-direction: column;
}


.text-container {
    color: white;
    
}



.title {
    font-weight: bolder;
    font-size: 48px;
}


.button {
    color: white;
    border-radius: 10px;
    background: rgb(62, 162, 243);
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
   
}

.img {
    color: white;
    flex-grow: 1;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
